log = "arango_etl=info"
max_concurrent_files = 16
file_chunk_size = 600
max_processing_capacity = 32

[arangodb]
endpoint = "http://localhost:8529"
user = "root"
password = "arangodb"
database = "iot"

[tracker]
interval = 10

[ingest]
bucket = "helium-mainnet-iot-verified-rewards"
region = "us-west-2"

[redis]
endpoint = "http://localhost:6379"
pool_size = 16
