log = "arango_etl=info"
num_loaders = 16
max_ingest = 32

[arangodb]
endpoint = "http://localhost:8529"
user = "root"
password = "arangodb"
database = "iot"

[tracker]
interval = 10

[ingest]
bucket = "helium-mainnet-iot-verified-rewards"
region = "us-west-2"
